.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin-top: auto;
	background: #aaa;
	width: 100%;

	.controls {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		padding: 2rem;
		justify-content: space-between;
		font-size: 1.5rem;

		& label {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 1rem;
			width: 100%;
			@media (min-width: 1200px) { width: 30%; }

			& input {
				margin-left: 1.25rem;
				width: 100%;
				font-size: 1.5rem;
				padding: 0.25rem;
				border-radius: 0.5rem;
			}
		}

		& button {
			margin-bottom: 1rem;
			font-size: 1.5rem;
			padding-block: 0.25rem;
			padding-inline: 1rem;
			border-radius: 0.5rem;
			cursor: pointer;
			width: 100%;
			@media (min-width: 1200px) { width: unset; margin-left: 1.25rem; }
			&:hover { background: #555555; color: white}
		}
	}

}
